[versions]

[libraries]

# Regular Libraries


# commons-compress = { group = "org.apache.commons", name = "commons-compress", version = "1.26.0" }

# Kotlinx
kotlinx-coroutines-core = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version = "1.8.1" }
kotlinx-serialization-json = { group = "org.jetbrains.kotlinx", name = "kotlinx-serialization-json", version = "1.7.1" }

# SLF4J
slf4j-api = { group = "org.slf4j", name = "slf4j-api", version = "2.0.13"}
slf4j-simple = { group = "org.slf4j", name = "slf4j-simple", version = "2.0.16"}

# Lets-Plot
letsplot-kotlinjvm = { group = "org.jetbrains.lets-plot", name = "lets-plot-kotlin-jvm", version = "4.7.3" }
letsplot-imageexport = { group = "org.jetbrains.lets-plot", name = "lets-plot-image-export", version = "4.3.3" }

# Tests
kotlin-test = { group = "org.jetbrains.kotlin", name="kotlin-test" }
assertj = { group = "org.assertj", name = "assertj-core", version = "3.26.3" }
junit-bom = { group = "org.junit", name = "junit-bom", version = "5.10.3" }
junit-jupiter = { group = "org.junit.jupiter", name = "junit-jupiter" }

# Gradle Plugins
gradle-kotlin = { group = "org.jetbrains.kotlin", name = "kotlin-gradle-plugin", version = "2.0.0" }
gradle-dokka = { group = "org.jetbrains.dokka", name = "dokka-gradle-plugin", version = "1.9.20" }
gradle-detekt = { group = "io.gitlab.arturbosch.detekt", name = "detekt-gradle-plugin", version = "1.23.6" }
gradle-bmVersions = { group = "com.github.ben-manes", name = "gradle-versions-plugin", version = "0.51.0" }
gradle-gitVersioning = { group = "me.qoomon", name = "gradle-git-versioning-plugin", version = "6.3.0" }
gradle-taskTree = { group = "com.dorongold.plugins", name = "task-tree", version = "4.0.0" }
gradle-spotless = { group = "com.diffplug.spotless", name = "spotless-plugin-gradle", version = "6.25.0" }
gradle-nexusPublish = { group = "io.github.gradle-nexus", name = "publish-plugin", version = "1.1.0" }
# gradle-kover = { group = "org.jetbrains.kotlinx", name = "kover", version = "0.6.1" }

# Other
dokka-javadoc = { group = "org.jetbrains.dokka", name = "kotlin-as-java-plugin", version = "1.9.20" }

[bundles]
gradle-kotlin-full = ["gradle-dokka", "gradle-kotlin"]
test = ["assertj", "kotlin-test"]
