---
import aqua from '../assets/logo/aqua.svg';
import tudoLogo from '../assets/logo/tudo.svg';
---
<div class="flex flex-col items-center space-y-30 h-screen justify-center bg-grey-100">
    <div class="flex flex-col items-center">
        <h1 class=" font-extralight">STARS</h1>
        <h2>Scenario-Based Testing of Autonomous Robotic Systems</h2>
    </div>

    <p class="mb-8 text-center">This site is currently in development.<br/>Please come back later or check out our <a class="text-tudo cursor-pointer" href="https://github.com/tudo-aqua/stars/">GitHub Repository</a>.</p>

    <div class="flex flex-row space-x-10 items-start">
        <img width="100" src={aqua.src} alt="AQUA Group Logo">
        <img width="100" src={tudoLogo.src} alt="TU Dortmund University Logo">
    </div>
</div>