name: Check for CHANGELOG updates
on:
  pull_request:
    types: [opened, synchronize, ready_for_review]
jobs:
  remind:
    name: Changelog Reminder
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
      - uses: mskelton/changelog-reminder-action@v3
